body{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
.logo{
}
.search_bar{
  border: 0;
  box-shadow: 2px 2px 12px #cccccc;
  width: 43vw;
  padding: 1%;
  outline: none;
  font-size: 14px;
  position: absolute;
  top: 3vh;
}
nav a:link{
  text-decoration: none;
  color: #665d58;
  margin: 0 0.5%;
}
nav a:active, a:visited{
  color: #665d58;
}
nav{
  background-color: #fafafa;
  box-shadow: 0px 1px 1px #cccccc;
  padding-bottom: 1.1%;
}
.sign{
  position: absolute;
  border: red solid 1px;
  width: 10vw;
  right: 1vw;
  top: 1vw;
}
#sign_in{
  background-color: #4f7dd3;
  color: white;
  padding: 2% 2%;
  border-radius: 2px;
}
.links{
  margin: 2vh 0 0 10.5vw;
  width: 45.5vw;
}
.links a{
  padding: 1% 2% 2.2% 2%;
}
.l_right{
  width: 15vw;
  float: right;
  text-align: right;
}
.l_right a{
   padding: 1% 4% 2.2% 4%;
}
#active{
  border-bottom: 4px #4285f4 solid;
  color: #4285f4;
  font-weight: bold;
  padding: 0 2% 2.2% 2%;
}
#results{
  margin: 3.5vh 0 4vh 11.5vw;
  color: #808080;
}
aside{
  margin-right: 5vw;
  margin-top: 10vh;
  float: right;
  width: 35vw;
}
table, td,tr{
  border: 1px solid #cccccc;
  border-collapse: collapse;
}
section{
  margin: 0 5vw 0 11.5vw;
  width: 45vw;
}
section a{
  text-decoration: none;
}
span{
  color: #006621;
}
.navbar{
  width: 45vw;
  padding: 3vh 0;
}
.navbar img{
  display: block;
  margin: auto;
}
footer{
  background-color: #f4f4f4;
  box-shadow: 0px -1px 1px #cccccc;
  padding: 3vh 0 3vh 11.5vw;
}
footer a{
  text-decoration: none;
  color: #808080;
  padding-right: 2vw;
}
footer a:link, a:active, a:visited{
  color: #808080;
}