/*DEFAULT*/
body{
	margin: 0;
	padding: 0;
	font: 14px;
	font-family: Arial, sans-serif;
}

/*CONTAINERS*/
.home_sec{
	height: 100vh;
	background-color: #ff3399;
}
.quote_sec{
	height: 100vh;
	background-image: url("../images/1.jpg");
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.info_sec{
	height: 100vh;
	background-color: #c16fd6;
}
/*HOME*/
.heading{
	width: 80%;
	margin: auto;
	text-align: center;
	color: white;
}
#logo{
	margin: auto;
	display: block;
	height: 40%;
	padding: 5% 0% 2%;
}
.tribute_header{
	font-family: 'Courgette', cursive;
	font-size: 1.5rem;
	padding-bottom: 1%;
}
.pine_header{
	display: inline-block;
	margin-bottom: 3%;
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	letter-spacing: 0.8rem;
	font-family: 'Saira Semi Condensed', sans-serif;
	font-size: 7rem;
	font-weight: 500;
	line-height: 7.5rem;
}
.button{
	width: 10%;
	padding: 1% 2%;
	margin: auto;
	border: 1px solid black;
	text-align: center;
	border-radius: 4px;
}


/*QUOTE*/
.quote_cont{
	width: 80%;
	margin: auto;
	padding-top: 30vh;
}
.quote_box{
	height: 40vh;
	background-color: #efdf51;
	text-align: center;
	color: #693e74;
}
#quote_line{
	font-size: 2.5rem;
	padding-top: 8%;
}
#quote_name{
	font-size: 1.5rem;
}
i{
	margin: 0 1%;
}