body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
	color: black;
}

.main_sect{
	height: 100vh;
	background: url(../images/back_1.jpeg);
	/*SLIDESHOW IMAGES?*/
	background-size: cover;
	background-repeat: no-repeat;
}
.logo{
	display: inline-block;
	padding: 2% 2% 1% 4%;
	font-weight: bold;
	font-size: 1.5rem;
	color: white;
}
nav{
	display: inline-block;
	float: right;
	width: 20%;
	margin: 2% 2%;
	text-align: right;
	font-size: 1.1rem;
	font-weight: 700;
}
nav a{
	text-decoration: none;
	padding: 1% 2%;
	margin: 0 2%;
	color: white;
}
nav a:hover{
	border-bottom: 3px solid white;
}
h1{
	margin-top: 30vh;
	text-align: center;
	font-size: 4.5rem;
	color: white;
	text-shadow: 1px 1px 2px #3d3b3b;
	font-weight: bold;
	line-height: 5rem;
}
/*ONLY APPEARS AFTER MAIN SECTION*/
.up_button{
	position: fixed;
	border-radius: 10px;
	background-color: #878484;
	color: white;
	right: 2%;
	bottom: 2%;
	padding: 0.5% 1.5% 1%;
}
/*FEATURES*/
.features_sect{
	display: flex;
	padding: 2% 3% 5% 1%;
}
h2{
	font-size: 2.5rem;
	line-height: 2.5rem;
	font-weight: bold;
	margin-bottom: 2%;
	/*CHANGE FONT*/
}
.features_name p{
	margin-bottom: 8%;
}
.features_image{
	flex: 50%;
	text-align: right;
	padding-top: 5%;
}
#camera_1{
	width: 75%;
	display: inline-block;
}
.features_name{
	flex: 50%;
	padding: 0 10% 0 10%;
}
.feature_cont{
	display: flex;
	flex-wrap: wrap;
	color: #f0522a;
	font-weight: bold;
	font-size: 1.2rem;
}
.feature_det{
	flex: 40%;
}
.symbol{
	width: 35%;
	display: block;
	margin: 6% 0 8%;
	padding-left: 2vw;
}
.more_button{
	display: inline-block;
	border: 2px solid black;
	padding: 1% 2%;
	margin: 5% 4% 4% 0;
	border-radius: 5px;
	font-weight: bold;
}
.more_button:hover{
	color: #f0522a;
	border: 2px solid #f0522a;
}

/*PRICES*/
.prices_sect{
	display: flex;
}
.prices h2{
	padding-left: 0%;
}
.prices{
	flex: 50%;
}
.price_det{
	border: 1px solid grey;
	padding: 2%;
	margin: auto;
	margin-bottom: 2%;
	width: 70%;
}
.prices_image{
	flex: 50%;
	border: 1px solid green;
}

/*SIGN_UP*/
.signup_sect{
	text-align: center;
}
.signup_sect h2{
	text-align:center;
	padding-left: 0%;
	margin: 5% 0 2%;
}
input[type=text]{
	margin: 2% 1% 5% 1%;
	padding: 0.5% 1%;
}
input[type=submit]{
	display: inline-block;
	border: 2px solid black;
	background-color: white;
	padding: 0.5% 1%;
	border-radius: 5px;
	font-weight: bold;
}
input[type=submit]:hover{
	color: #f0522a;
	border: 2px solid #f0522a;
	
}
footer{
	height: 20vh;
	background-color: #D3D3D3;
}

