body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
	color: #2f2f2f;
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
	color: #2f2f2f;
}

.main_sect{
	height: 100vh;
	background: url(../images/back_1.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}
.logo{
	display: inline-block;
	padding: 2% 2% 1% 4%;
	font-weight: bold;
	font-size: 1.5rem;
	color: white;
}
nav{
	display: inline-block;
	float: right;
	width: 20%;
	margin: 2% 2%;
	text-align: right;
	font-size: 1.1rem;
	font-weight: 700;
}
nav a{
	text-decoration: none;
	padding: 1% 2%;
	margin: 0 2%;
	color: white;
}
nav a:hover{
	border-bottom: 3px solid white;
}
h1{
	margin-top: 30vh;
	text-align: center;
	font-size: 4.5rem;
	color: white;
	text-shadow: 1px 1px 2px #3d3b3b;
	font-weight: bold;
	line-height: 5rem;
}
/*ONLY APPEARS AFTER MAIN SECTION*/
.up_button{
	position: fixed;
	border-radius: 10px;
	background-color: #878484;
	color: white;
	right: 2%;
	bottom: 2%;
	padding: 0.5% 1.5% 1%;
}
/*FEATURES*/
.features_sect{
	display: flex;
	padding: 4% 2% 5% 1%;
}
h2{
	font-size: 2.5rem;
	line-height: 2.5rem;
	font-weight: bold;
	margin-bottom: 2%;
}
p{
	margin-bottom: 2%;
}
.features_image{
	flex: 45%;
	text-align: right;
	padding-top: 5%;
}
#camera_1{
	width: 75%;
	display: inline-block;
	padding-right: 5%;
}
.features_name{
	flex: 55%;
	padding: 0 3% 0 5%;
}
.feature_cont{
	display: flex;
	flex-wrap: wrap;
	color: #f0522a;
	font-weight: bold;
	font-size: 1.1rem;
}
.feature_det{
	flex: 30%;
}
.symbol{
	width: 35%;
	display: block;
	margin: 15% 0 8%;
	padding-left: 3vw;
}
.more_button{
	display: inline-block;
	border: 2px solid #2f2f2f;
	padding: 1% 2%;
	margin: 8% 4% 4% 0;
	border-radius: 5px;
	font-weight: bold;
}
.more_button:hover{
	color: #f0522a;
	border: 2px solid #f0522a;
}

/*PRICES*/
.prices_sect{
	display: flex;
	margin-top: 2%;
}
.prices{
	flex: 50%;
	padding-left: 8vw;
}
.price_det{
	padding: 2% 0;
	margin-bottom: 2%;
	width: 70%;
}
.price_det h3{
	color: #2f2f2f;
	margin-top: 0;
}
.price_det p{
	color: #f0522a;
	font-size: 2.3rem;
	font-weight: bold;
	float: right;
	margin: 0;
	padding-top:0;
	padding-left: 3.5%;
}
.dollar{
	font-size: 1.5rem;
	font-weight: bold;
	float: left;
	padding-top: 10%;
}
.prices_image{
	flex: 50%;
	padding-left: 1%;
	padding-top: 10vh;
}
#camera_2{
	width: 90%;
}

/*SIGN_UP*/
.signup_sect{
	text-align: center;
}
.signup_sect h2{
	text-align:center;
	padding-left: 0%;
	margin: 5% 0 2%;
}
input[type=text]{
	margin: 2% 1% 5% 1%;
	padding: 0.5% 1%;
}
input[type=submit]{
	display: inline-block;
	border: 2px solid #2f2f2f;
	background-color: white;
	padding: 0.5% 1%;
	border-radius: 5px;
	font-weight: bold;
}
input[type=submit]:hover{
	color: #f0522a;
	border: 2px solid #f0522a;
	
}
footer{
	height: 20vh;
	background-color: #D3D3D3;
}

