.body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
}

.container{
	border: 1px solid green;
	width: 90%;
	margin: auto;
	display: flex;
	border-radius: 10px;
}
/*SIDE BAR*/
.side_bar{
	border: 1px solid blue;
	flex: 25%;
}
.sections{
	border: 1px solid gold;
}
.sub_group a{
	display: block;
}

/*MAIN CONTENT*/
.content{
	border: 1px solid yellow;
	flex: 75%;

}