body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	background-image: url("../images/background2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
}

.container, .sub_container{
	margin: auto;
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 2%;
	width: 65%;
	box-shadow: 0px 5px 5px #888888;
	background-color: #f9f9db; 
}

.sub_container{
	margin-top: 10%;
	padding-top: 5%;
	height: 28vh;
	width: 50%;
	text-align: center;
}

.header{
	display: block;
	font-family: 'Playfair Display', serif;
	font-size: 2rem;
	text-align: center;
	line-height: 2rem;
	color: #084704;
	padding-bottom: 2%;
}
.form{
	display: flex;
	margin-top: 1%;
	flex-wrap: wrap;
}
.form_box{
	flex: 1;
	margin-bottom: 2%;
}

/*CONTACT INFORMATION*/
.sec_head{
	display: block;
	margin: 4% 0% 3%;
	font-weight: 700;
}
.sub{
	font-size: 0.7rem;
}
.information label{
	 display:inline-block;
	 width: 25%;
}
input[type=text], input[type=date]{
	margin: 1% 0;
	background-color: #ddddb3;
	border: none;
}
#email{
	width: 80%;
}
textarea{
	resize: none;
	width: 80%;
	background-color: #ddddb3;
	border: none;
}
	
/* CUSTOME RADIO BUTTONS */
.radio_style {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 2.5%;;
    cursor: pointer;
}

.radio_style input[type=radio] {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #ddddb3;
    border-radius: 50%;
}

.radio_style:hover input ~ .checkmark {
    background-color: #c6c695;
}

.radio_style input:checked ~ .checkmark {
    background-color: #12720c;
}


/* RATINGS SLIDER*/
.rate_text{
	font-size: 0.7rem;
}
.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;
	margin: 2% 0%;
    background: #ddddb3;
    outline: none;
	opacity: 0.8;
}
.slider:hover{
	opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #084704;
    cursor: pointer;
}
input[type=submit], a{
	display: block;
	margin: auto;
	padding: 0.8% 3%;
	border-radius: 8px;
	border: none;
	background-color: #084704;
	color: #f9f9db;
	transition: all .2s ease-in-out;
}
input[type=submit]:hover, a:hover {
	background-color: #12720c;
	transform: scale(1.1);
}
a{
	text-decoration: none;
	width: 20%;
	padding: 0.8% 2%;
	margin-top: 6%;
}

@media (min-width: 820px) and (max-width: 1120px){
	.form_box{
		flex: 50%;
	}
	.ratings{
		text-align: center;
	}
} 
@media (max-width: 819px){
	.form_box{
		flex: 100%;
	}
	.ratings{
		text-align: center;
	}
}


