body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	background-image: url("../images/background2.jpg");
	background-size: cover;
}

.container{
	margin: auto;
	margin-top: 8%;
	padding: 2%;
	width: 65%;
	height: 60vh;
	box-shadow: 0px 5px 5px #888888; /*CHANGE COLOUR*/
	background-color: #f9f9db;  /*CHANGE COLOUR*/
}
.form{
	display: flex;
}
.form_box{
	flex: 30%;
	border: 1px solid green;
}