body{
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.main_section{
	height: 100vh;
	background-color: green;
	position: relative;
}
nav{
    position: fixed;
	z-index:100;
	top: 10px;
	right: 10px;
	width: 250px;
}
nav a{
	float: right;
	text-decoration: none;
	color: white;
	padding: 1% 1%;
	margin-left: 4%;
	font-size: 1.25rem;
}
nav a:hover{
	border-bottom: 3px solid white;
}
i{
	text-decoration: none;
	color: black;
}
.main_section h1{
	margin: 0;
	padding-top: 40vh;
	margin-bottom: 3%;
	text-align: center;
	font-size: 4rem;
}
.main_section .button{
	text-align: center;
	border: 3px solid white;
	margin: auto;
	border-radius: 10px;
	padding: 1%;
	width: 10%;
}
.arrow_right{
	position: absolute;
	bottom: 0%;
	right: 2%;
	padding: 0.75% 1%;
	background-color: yellow;
}
.arrow_left{
	position: absolute;
	bottom: 0%;
	right: 7%;
	padding: 0.75% 1%;
	background-color: yellow;
}

.arrow_right:hover, .arrow_left:hover {
	padding: 1% 1.25%;
}

/*  PORTFOLIO */
.portfolio_section{
	background-color: chocolate;
	position: relative;
	height: 100vh;
}
.portfolio{
	display: flex;
	height: 80vh;
}
.port_details{
	padding: 4% 0 0 5%; /*FIX PADDING AND EVEN SECTIONS*/
	flex: 40%;
}
.port_images{
   flex: 60%;
   text-align: center;
   padding-top: 4%;
}
.portfolio .button{
	text-align: center;
	border: 3px solid white;
	margin: auto;
	margin-top: 2%;
	border-radius: 10px;
	padding: 1%;
	width: 15%;
}
.nav_bar{
	margin: auto;
	width: 80%;
	text-align: center;
}

/*  ABOUT */
.about_section{
	position: relative;
	background-color: silver;
	height: 100vh;
}
.about{
  display: flex;
  height: 100vh;
  border: 1px solid black;
}
.about_details{
  border: 1px solid black;
  flex: 50%;
}
.about_test{
  border: 1px solid black;
  flex: 50%;
}