//VARIABLES
$shadow: #201913;
$gradient: radial-gradient( #5a5955, #878a8e);
$outer-shadow: 0px 3px 0px -2px black;
$computer: 'Orbitron', sans-serif;
$text: 'Roboto Condensed', sans-serif;
$main-width: 50vw;


@mixin borders{
	border: solid #33302e 10px;
    box-shadow: 0 1px 5px #615c57, 0 -1px 8px #666, inset 0 -1px 5px rgba(0,0,0,0.5), inset 0 1px 2px rgba(255,255,255,0.8);
	// MAKE LOOK MORE BEVEALED
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: $text;
	font-size: 14px;
}
body{
	background: url("../images/background.jpg") no-repeat;
	background-size: cover;
}
.main{
	height: 100vh;
	width: $main-width;
	margin: auto;
}
.pom{
	position: relative;
	height: 55vh;
	display: flex;
	justify-content: center;
}
// POM SCREEN
.screen_out{
	@include borders;
	background-color: lightblue;
	position: absolute;
	bottom: 5px;
	border-radius: 5px;
	height: 60%;
	width: 90%;
	font-family: $computer;
	text-align: center;
	
}
// WORK SCREEN
.display{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20vh;
}
.display_out{
	@include borders;
	background-color: lightblue;
	border-radius: 5px;
	height: 80%;
	width: 60%;
	text-align: center;
}

// DISPLAY PANEL
.options{
	height: 25vh;
}
.opts_cover{
	display: flex;
	background: url("../images/cover2.png") no-repeat;
	background-size: cover;
//	display: none;
	justify-content: center;
	height: 100%;
	border-radius: 10px 10px 0 0;	
}
.opts_cont{
	border: 1px solid green;
	display: flex;
	display: none;
	padding: 3% 0%;
}
.opts_box{
	border: 1px solid purple;
	flex: 30%;
	padding: 2%;
	div{
		border: 1px solid green;
	}
}
.opts_up, .opts_down{
	width: 35%;
	height: 50%;
	display: inline-block;
	padding-top: 2%;
	text-align: center;
}
.opts_total{
	float: right;
	width: 65%;
	height: 100%;
	display: inline-block;
}



.side_buttons{
	position: absolute;
	bottom: 10vh;
	right: 20vw;
	h4{
		// MAKE TO RIGHT OF BUTTONS
	}
}
.button {
	border-radius: 50%;
	height: 8vh;
	width: 8vh;
    border: solid #28221c 5px;
    box-shadow: 0 1px 2px #615c57, 0 -1px 1px #666, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.8);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#918c87), color-stop(100%,#474441)); 
}
