*{
	box-sizing: border-box;
	padding:0;
	margin:0;
	font-family:"Roboto Condensed",sans-serif;
	font-size:14px;
}
body{
	background:url("../images/background4.jpg") no-repeat;
	background-size: cover;
} 
.main{
	height:100vh;
	overflow: hidden;
	width:50vw;
	margin:auto;
}
.pom{
	position:relative;
	height:55vh;
	display:flex;
	justify-content:center;
}
.screen_out{
	border:solid #33302e 10px;
	box-shadow: 0px 2px 0px 2px #262423,
		inset 0 -1px 5px rgba(0,0,0,0.5),
		inset 0 1px 2px rgba(255,255,255,0.8);
	background-color:black;
	background:url("../images/pixels.jpg");
	position:absolute;
	bottom:5px;
	border-radius:5px;
	height:60%;
	width:80%;
	padding-top:6%;
	font-family:"Orbitron",sans-serif;
	text-align:center;
	color:white;
	font-size:6rem;
}
.display{
	display:flex;
	justify-content:center;
	align-items:center;
	height:20vh;
}
.display_out{
	border:solid #33302e 10px;
	background-color: white;
	background:url("../images/glow.jpg");
	box-shadow: 0px 2px 0px 2px #262423, 
		inset 0px -1px 2px 3px rgba(155, 59, 0, 1),
		inset 0px 1px 2px 3px rgba(255, 248, 244, 0.7); 	
	border-radius:5px;
	height:80%;
	width:60%;
	padding-top:2%;
	text-align:center;
	text-shadow:1px 1px 2px #fc942e, 0 0 25px #f6d53d;
	font-size:3rem;
	color:#64240b;
	letter-spacing:0.5rem;
	font-weight:700;
}
.options{
	height:25vh;
	position: relative;
}

.opts_cover{
	position: absolute;
	top: 0vh;
	left: 0vh;
	background:url("../images/cover3.png") no-repeat;
	background-size:cover;
	height:100%;
	width: 100%;
}
.opts_cont{
	background:url("../images/controlback.jpg") no-repeat;
	box-shadow:0 1px 10px black,
		inset 0px 2px 0 2px #3d3c3c;
	height:22vh;
	position: absolute;
	top: 1vh;
	left: 1vh;
	width: 98%;
	display:flex;
	padding: 1% 10% 3%;
}
.opts_box{
	margin: 1.5% 3% 2.5%;
	flex: 30%;
	padding:1% 1%;
}
.opts_up,.opts_down{
	width:33%;
	height:50%;
	display:inline-block;
	background-color: #7c7f80;
	background-image: linear-gradient(to bottom, #4c4b4b, #262525);
	box-shadow: 0px 2px 0px 2px #302f2f;
	border-radius: 5px;
	padding-top: 8%;
	text-align:center;
	color: #a3a3a3;
	cursor: pointer;
}
.opts_up:active,.opts_down:active{
	background-image: linear-gradient(to bottom, #6d6d6d, #262525);
	box-shadow: 0px 2px 0px 2px #333131;
}

.opts_total{
	float:right;
	width:63%;
	height:100%;
	display:inline-block;
	padding-top: 2.5vh;
	text-align: center;
	font-family:"Orbitron",sans-serif;
	font-size: 2rem;
	color: white;
	background-color: black;
	border: 5px solid #33302e;
	box-shadow: 0px 2px 0px 2px #212020, 
		inset 0px 1px 0px 1px #515050;
}
.opts_but{
	margin-bottom: 4%;
	padding: 3%;
	border-radius: 2px;
	text-align: center;
	font-weight: bold;
	color: #383838;
	cursor: pointer;
}
.opts_text{
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
	color: #6d6b6b;
	margin-top: 2%;
}
#start{
	background-color: #37961b;
	box-shadow:  0px 3px 0px 3px rgba(24, 81, 7, 1), 
		inset 0px 1px 2px 0.5px rgba(224, 224, 224, 0.5);
	color: black;
}
#start:active{
	background-color: #297a11;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#20630c), color-stop(100%,#4caf2f)); 
}
#pause{
	background-color: #e8a130;
	box-shadow:  0px 3px 0px 3px rgba(140, 81, 9, 1), 
		inset 0px 1px 2px 0.5px rgba(224, 224, 224, 0.5);
	color: black;
}
#pause:active{
	background-color: #af7415;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#af7415), color-stop(100%,#fcbb53)); 
}
#stop{
	background-color: #cc3712;
	box-shadow:  0px 3px 0px 3px rgba(119, 30, 8, 1), 
		inset 0px 1px 2px 0.5px rgba(224, 224, 224, 0.5);
	color: black;
}
#stop:active{
	background-color: #9b2507;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b2507), color-stop(100%,#e84d27)); 
}
.side_buttons{
	position:absolute;
	bottom: 2vh;
	right:18vw
}
.but_1,.but_2{
	width:105%
}
.but_1 h4,.but_2 h4{
/*	float:right;*/
	text-align:center;
	margin: 1% 0 0 1%
}
.button{
	border-radius:50%;
	height:8vh;
	width:8vh;
	display:inline-block;
	border:solid #28221c 5px;
	box-shadow:0 1px 2px #615c57,0 -1px 1px #666,
		inset 0 -1px 1px rgba(0,0,0,0.5),
		inset 0 1px 1px rgba(255,255,255,0.8);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #918c87), color-stop(100%, #474441));
	cursor: pointer;
}
.button:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#918c87), color-stop(100%,#7f7c79)); 
}
.button:active{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4945), color-stop(100%,#7f7c79)); 
}


@media (min-width: 861px) and (max-width: 1075px){
	.opts_cont{
		padding: 1% 5%;
	}
	.opts_box{
		height: 75%;
		margin: 1.5% 1% 2.5%;
	}
}

@media (min-width: 580px) and (max-width: 860px){
	.main{
		width: 65vw;
	}
	.opts_cont{
		padding: 1% 3%;
	}
	.opts_box{
		height: 70%;
		margin: 1.5% 0.5% 2.5%;
		font-size: 1.5rem;
	}
	.opts_total{
		padding-top: 2vh;
	}
	.side_buttons{
		position:absolute;
		bottom: 2vh;
		right:5vw
	}
}

@media (max-width: 579px){
	*{
		display: none;
		background-color: black;
	}
}

/*# sourceMappingURL=style.css.map */

